<!DOCTYPE html>
<html lang="en">

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form>
                    <h2>SignUp</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="name" required>
                        <label for="">UserName</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="name" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Confirm Password</label>
                    </div>
                    <button routerLink="/login-details">SignUp</button>
                    <div class="register">
                        <p>Do have a account
                            <a routerLink="/login-details">LogIn</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>